<script>
  window._EVERGREEN = {
    list: <%= raw list_json list %>,
    typeOptions: <%= raw list_type_options_json %>,
    menuItemLabels: <%= raw menu_item_labels %>
  };
</script>
<% breadcrumb :list, @account, @establishment, @list %>
<%= form_for [account, establishment, list], html: { class: 'list-form' } do |f| %>

  <div id="app-root"></div>

  <div class="button-wrapper">
    <%= f.submit submit_text, class: 'btn btn-evrgn-primary', data: { test: 'list-form-submit' } %>
    <%= link_to 'Cancel', edit_account_establishment_path(account, establishment), class: 'btn btn-outline-secondary', data: { test: 'list-form-cancel' } %>
    <% if list.persisted? %>
      <label for="list-form-delete" data-test="list-form-delete" class="btn btn-evrgn-delete">Delete</label>
    <% end %>
  </div>
<% end %>

<% if list.persisted? %>
  <%= button_to 'Delete', account_establishment_list_path(account, establishment, list), method: :delete, class: 'hidden', id: 'list-form-delete', data: { confirm: 'Are you sure you want to delete this list?' } %>
<% end %>

<%= javascript_include_tag fingerprinted_asset('core-js'), skip_pipeline: true %>
<%= javascript_include_tag fingerprinted_asset(:vendor), skip_pipeline: true %>
<%= javascript_include_tag fingerprinted_asset(:lists), skip_pipeline: true %>
