<script>
  window.BEERMAPPER = {
    menu: <%= raw menu_json menu %>,
    cancelEditMenuPath: "<%= edit_account_establishment_path(account, establishment) %>",
    menuFormSubmitText: "<%= submit_text %>",
    fontOptions: <%= menu_font_options.to_json.html_safe %>,
    templateOptions: <%= menu_template_options.to_json.html_safe %>
  };
  <% if menu.persisted? %>
    window.BEERMAPPER.downloadMenuPath = "<%= account_establishment_menu_path(account, establishment, menu, format: :pdf, download: '1') %>";
    window.BEERMAPPER.canDestroyMenu = <%= can?(:destroy, menu) %>;
  <% end %>
</script>
<% breadcrumb :menu, account, establishment, menu %>
<%= form_for [account, establishment, menu], html: { class: 'menu-form' } do |f| %>
  <div id="menu-app-root"></div>
<% end %>
<% if menu.persisted? && can?(:destroy, menu) %>
  <%= button_to 'Delete', account_establishment_menu_path(account, establishment, menu), method: :delete, class: 'hidden', id: 'menu-form-delete', data: { confirm: 'Are you sure you want to delete this menu?' } %>
<% end %>
