<%= render 'shared/panel', title: 'Invitation' do %>
  <%= form_for [@account, @user_invitation] do |f| %>
    <div class='form-group'>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, required: true, class: "form-control", data: { test: 'invitation-first-name' } %>
    </div>

    <div class='form-group'>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control", data: { test: 'invitation-last-name' } %>
    </div>

    <div class='form-group'>
      <%= f.label :email %>
      <%= f.email_field :email, required: true, disabled: f.object.persisted?, class: "form-control", data: { test: 'invitation-email' } %>
    </div>

    <div class="form-group">
      <label>Establishments</label>
      <div class="">
        <% @account.establishments.each_with_index do |establishment, index| %>
          <div class="form-check">
            <label class="form-check-label" data-test="invitation-establishment-access">
              <%= check_box_tag 'user_invitation[establishment_ids][]', establishment.id, f.object.establishment_ids.include?(establishment.id) %>

              <%= establishment.name %>
            </label>
          </div>
        <% end %>
      </div>
    </div>

    <%= yield f %>

    <div class='button-wrapper'>
      <%= f.submit submit_text, class: 'btn btn-evrgn-primary', data: { test: 'invitation-submit-button' } %>
      <%= link_to 'Cancel', account_users_path(@account), class: 'btn btn-outline-secondary', data: { test: 'invitation-cancel-link' } %>
      <% if f.object.persisted? && can?(:destroy, @user_invitation) %>
        <label for="invitation-form-delete" class="btn btn-evrgn-delete" data-test="invitation-delete-button">Delete</label>
      <% end %>
    </div>
  <% end %>
  <% if @user_invitation.persisted? && can?(:destroy, @user_invitation) %>
    <%= button_to 'Delete', account_user_invitation_path(@account, @user_invitation), method: :delete, class: 'hidden', id: 'invitation-form-delete', data: { confirm: 'Are you sure you want to delete this invitation?' } %>
  <% end %>
<% end %>
