<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Invitation</h3>
  </div>
  <div class="panel-body">
    <%= form_for [@account, @user_invitation] do |f| %>
      <div class='form-group'>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, required: true, class: "form-control" %>
      </div>

      <div class='form-group'>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class='form-group'>
        <%= f.label :email %>
        <%= f.email_field :email, required: true, class: "form-control" %>
      </div>

      <div class='checkbox'>
        <label>
          <%= f.check_box :invite_another %> Invite another
        </label>
      </div>

      <div class='form-group'>
        <%= f.submit 'Invite', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', account_users_path(@account) %>
      </div>
    <% end %>
  </div>
</div>
