<script>
  window._EVERGREEN = {
    pages: <%= raw @account.facebook_pages.to_json %>,
    establishments: <%= raw @account.establishments.to_json %>,
    updateAssociationPath: "<%= raw account_facebook_update_establishment_association_path(@account) %>"
  }
</script>

<% breadcrumb :account, @account %>
<div id="facebook-match-pages-app-root" class="facebook-match-pages"></div>
<%= javascript_include_tag fingerprinted_asset(:vendor) %>
<%= javascript_include_tag fingerprinted_asset('facebook-match-pages') %>
