<script>
  window._EVERGREEN = {
    digitalDisplayMenu: <%= raw digital_display_menu_json digital_display_menu %>,
    rotationIntervalOptions:  <%= raw rotation_intervals_json %>,
    fontOptions: <%= raw font_options_json %>,
    themeOptions: <%= raw theme_options_json %>,
    cancelEditPath: "<%= edit_account_establishment_path(account, establishment) %>",
    submitButtonText: "<%= submit_text %>"
  };
  <% if digital_display_menu.persisted? %>
    window._EVERGREEN.canDestroy = <%= can?(:destroy, digital_display_menu) %>;
    window._EVERGREEN.viewDisplayPath = "<%= account_establishment_digital_display_menu_path(account, establishment, digital_display_menu) %>"
  <% end %>
</script>
<% breadcrumb :digital_display_menu, account, establishment, digital_display_menu %>
<%= form_for [account, establishment, digital_display_menu], html: { class: 'digital-display-menu-form' } do |f| %>
  <div id="digital-display-app-root"></div>
<% end %>
<% if digital_display_menu.persisted? && can?(:destroy, digital_display_menu) %>
  <%= button_to 'Delete', account_establishment_digital_display_menu_path(account, establishment, digital_display_menu), method: :delete, class: 'hidden', id: 'digital-display-menu-form-delete', data: { confirm: 'Are you sure you want to delete this menu?' } %>
<% end %>
