{{header-bar action="search" queryField=query isAuthenticated=isAuthenticated}}
<div class='body-container'>
  <div class='flash-queue'>
    {{#each flashQueueController}}
      {{view 'flash-message'}}
    {{/each}}
  </div>
  {{outlet}}
  <footer class='footer'>
    <small>Copyright &copy; 2014 beermapper.com All rights reserved.</small>
    <small>
      {{#if isAuthenticated}}
        <a href='#' {{action 'logout'}}>Logout</a>
      {{else}}
        {{#link-to 'sessions.new'}}Login{{/link-to}}
      {{/if}}
    </small>
  </footer>
</div>
