<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Staff</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <% @users.each do |person| %>
        <li class="list-group-item" data-test="staff-member">
          <%= person.first_name %> <%= person.last_name %>
        </li>
      <% end %>
    </ul>
    <%= link_to 'Invite staff', new_account_user_invitation_path(@account), class: 'btn btn-success' %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Pending Invitations</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @user_invitations.each do |person| %>
        <li data-test="staff-member-invited">
          <%= person.first_name %> <%= person.last_name %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
