<%= render 'shared/panel', panel_class: 'panel-default', title: 'Forgot your password?' do %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Send reset password instructions", class: "btn btn-primary", data: { test: 'send-reset-password-instructions' } %>
      <%= link_to "Log in", new_session_path(resource_name) %><br />
    </div>
  <% end %>
<% end %>
