<% panel_class ||= "panel-info" %>
<% help_type   ||= nil %>
<% data_test   ||= nil %>

<div class="card <%= panel_class %>" data-test=<%= data_test %>>
  <div class="card-header">
    <% if help_type %>
      <div class="float-right">
        <i
          onclick="toggleHelp('<%= help_type %>')"
          class="fa fa-question-circle-o fa-2x help-icon"
          data-test="toggle-help-<%= help_type %>"
          aria-hidden="true">
        </i>
      </div>
    <% end %>
    <h3 class="card-title" data-test="panel-title"><%= title %></h3>
  </div>
  <div class="card-body">
    <%= yield %>
  </div>
</div>

<% if help_type %>
  <% content_for :javascripts do %>
    <script type="text/javascript">
      function toggleHelp(helpType) {
        var help = document.querySelector('[data-help="' + helpType + '"]');
        help.classList.toggle('hidden');
      }
    </script>
  <% end %>
<% end %>
