<%= render 'shared/panel', panel_class: 'panel-default', title: 'Log in' do %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-check">
        <label class="form-check-label"><%= f.check_box :remember_me, class: 'form-check-input' %>Remember me</label>
      </div>
    <% end -%>

    <div class="form-group">
      <%= f.submit "Log in", class: "btn btn-primary" %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    </div>
  <% end %>
<% end %>
