<script>
  window._EVERGREEN = {
    locations: <%= raw @account.google_my_business_locations.to_json %>,
    establishments: <%= raw @account.establishments.order(:name).to_json %>,
    updateAssociationPath: "<%= raw account_google_my_business_establishment_associations_path(@account) %>",
    csrfToken: "<%= raw form_authenticity_token %>"
  }
</script>

<% breadcrumb :account, @account %>
<div id="google-match-locations-app-root" class="google-match-locations"></div>
<%= javascript_include_tag fingerprinted_asset(:vendor) %>
<%= javascript_include_tag fingerprinted_asset('google-match-locations') %>
