<% items_with_images ||= [] %>
<div class="evergreen-menu" data-test="list">
  <h3 class="evergreen-menu-title" data-test="list-title"><%= title %></h3>
  <% if show_description && list_description.present? %>
  <p class="evergreen-menu-list-description" data-test="list-description">
    <%= list_description %>
  </p>
  <% end %>
  <ul style="list-style: none;">
    <% beers.each do |beer| %>
      <% show_image = items_with_images.include?(beer.id) %>
      <li>
        <div class="evergreen-menu-item" data-test="list-item">
          <div class="evergreen-menu-item-info">
            <span class="evergreen-menu-item-name" data-test="list-item-name">
              <strong><%= beer.name %></strong>
            </span>
          <% if show_price && beer.price %>
            <span class="evergreen-menu-item-price" data-test="list-item-price">
              <%= number_to_currency beer.price, precision: beer.price % 1 > 0 ? 2 : 0 %>
            </span>
          <% end %>
          <% if show_description %>
            <div class="evergreen-menu-item-description" data-test="list-item-description">
              <%= beer.description %>
            </div>
          <% end %>
        </div>
        <% if show_image && beer.image.attached? %>
          <div class="evergreen-menu-item-image" data-test="list-item-image">
            <% image_url = rails_representation_url(beer.image.variant(resize: '300X300')) %>
            <%= image_tag image_url %>
          </div>
        <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
