<%
  items_with_images ||= []
  show_notes ||= false
%>
<div class="evergreen-menu <%= html_classes %>" data-test="list">
  <h3 class="evergreen-menu-title" data-test="list-title"><%= title %></h3>
  <% if show_description && list_description.present? %>
  <p class="evergreen-menu-list-description" data-test="list-description">
    <%= list_description %>
  </p>
  <% end %>
  <ul style="list-style: none;">
    <% beers.each do |item| %>
      <% show_image = items_with_images.include?(item.id) %>
      <li>
        <div class="evergreen-menu-item" data-test="list-item">
          <div class="evergreen-menu-item-info">
            <span class="evergreen-menu-item-name" data-test="list-item-name">
              <strong><%= item.name %></strong>
              <%= render Array(item.labels) %>
            </span>
          <% if show_price && item.price %>
            <span class="evergreen-menu-item-price" data-test="list-item-price">
              <%= price_options item %>
            </span>
          <% end %>
          <% if show_description %>
            <div class="evergreen-menu-item-description" data-test="list-item-description">
              <%= item.description %>
            </div>
          <% end %>
        </div>
        <% if show_image && item.image.attached? %>
          <div class="evergreen-menu-item-image" data-test="list-item-image">
            <% image_url = rails_representation_url(item.image.variant(resize: '300X300')) %>
            <%= image_tag image_url %>
          </div>
        <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <% if show_notes && list_notes.present? %>
  <p class="evergreen-menu-list-notes" data-test="list-notes">
    <%= list_notes %>
  </p>
  <% end %>
</div>
