<header>
  <nav class='navbar navbar-default' role='navigation'>
    <div class='navbar-header'>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='/'>Beer Mapper</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <form class="navbar-form navbar-left" id='beer-search' role="search" {{action "search" on="submit"}}>
        <div class="input-group">
          {{input class='form-control' type='text' value=queryField placeholder='Thirsty? Enter a beer name.'}}
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Search</button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav">
        {{view view.whatIsBeermapperView}}
        <li>{{#link-to 'establishments'}}Establishments{{/link-to}}</li>
        <li>{{#link-to 'establishment_suggestions.new'}}Suggest an Establishment{{/link-to}}</li>
        {{#if isAuthenticated}}
          <li class='dropdown'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
              Admin <span class='caret'></span>
            </a>
            <ul class='dropdown-menu'>
              <li role='presentation'>{{#link-to 'list_updates' role='menuitem'}}List Updates{{/link-to}}</li>
              <li role='presentation'>{{#link-to 'establishment_suggestions' role='menuitem'}}Est. Suggestions{{/link-to}}</li>
              <li role='presentation' class='divider'></li>
              <li role='presentation'><a href='#' {{action logout}}>Logout</a></li>
            </ul>
          </li>
        {{/if}}
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li>
          <div class='social-share'>
            {{share-twitter}}
          </div>
        </li>
      </ul>
    </div>
    <div class='flash-messages'></div>
  </nav>
  <div class='what-is-beermapper'>
    <p><strong>What is Beer Mapper?</strong></p>
    <p>
      Beer Mapper is a tool for finding a Minnesota establishment that serves your favorite beer. Just enter the name of a beer you want to find and Beer Mapper will show you the establishments that serve it. Beer Mapper gets its information from the websites of the establishments it knows about, and keeps up to date daily with changes to those websites. So look no further... <em>find your beer right now!</em>
    </p>
  </div>
</header>
