<div class='page'>
  <div class='row'>
    <div class='page-heading'>
      <div class='sm-col-12'>
        <h2>List Updates</h2>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table table-hover'>
        <thead>
          <th>Establishment</th>
          <th>Status</th>
          <th>Notes</th>
          <th>Creation Date</th>
        </thead>
        <tbody>
          {{#each listUpdate in controller}}
            <tr {{bind-attr class='isFailure:danger'}} {{action viewListUpdate listUpdate}}>
              <td>{{name}}</td>
              <td>{{status}}</td>
              <td>{{notes}}</td>
              <td>{{createdAt}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
