<div class="subscription-form-wrapper">
  <%= form_for :subscription, url: subscriptions_path, method: :post, html: { class: "subscription-form", id: "plan-form-#{plan.id}", data: { 'plan-id' => plan.id } } do |f| %>
    <%= f.hidden_field :plan_id, value: plan.id %>
    <%= f.hidden_field :source, id: "subscription_source_#{plan.id}" %>

    <div class="form-group">
      <%= f.label :email, class: 'control-label' %>
      <div>
        <%= f.email_field :email, class: 'form-control', required: true, data: { test: 'subscription-email' } %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :quantity, 'How many establishments?', class: 'control-label' %>
      <div>
        <%= f.number_field :quantity, class: 'form-control', value: 1, min: 1, data: { test: 'subscription-quantity' } %>
      </div>
    </div>

    <div class="form-group">
      <label for="control-label">
        Credit Card
      </label>
      <div id="card-element-<%= plan.id %>">
      </div>

      <div id="card-errors-<%= plan.id %>" class="text-danger" role="alert"></div>
    </div>

    <%= f.submit 'Start Trial', class: 'btn btn-evrgn-primary', data: { test: 'subscription-form-submit' } %>
  <% end %>
</div>
