<% has_lists = establishment.lists.any? %>
<% file_label_text = establishment.logo.attached? ? establishment.logo.filename : 'Choose file' %>
<% breadcrumb :establishment, account, establishment %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    var defaultLabelText = 'Choose image...'
    var maxFileSize = 1000000 // 1MB
    var validTypes = ['image/jpeg', 'image/jpg', 'image/png']
    var fileInput = document.querySelector('.js-custom-file-input')
    var fileLabel = document.querySelector('.js-custom-file-label')
    var fileWrapper = document.querySelector('.js-custom-file')
    var form = document.querySelector('.js-establishment-form')
    var logoImage = document.querySelector('.js-logo-image')

    function isFileValid (file) {
      var isValidSize = file.size <= maxFileSize
      var isValidType = validTypes.indexOf(file.type) > -1
      return isValidSize && isValidType
    }

    function submitHandler (event) {
      var inputs = event.target.querySelectorAll('input.js-invalid')
      if (inputs.length) {
        event.preventDefault()
        inputs[0].focus()
      }
    }

    fileInput.addEventListener('change', function (e) {
      var file = e.target.files[0]
      if (!file) {
        fileLabel.innerText = defaultLabelText
        logoImage.src = null
        return
      }
      if (isFileValid(file)) {
        form.querySelector('input[type="submit"]').removeAttribute('disabled')
        fileInput.classList.remove('js-invalid')
        fileWrapper.classList.remove('invalid')
        form.removeEventListener('submit', submitHandler)
        var reader = new FileReader()
        reader.onload = function (e) {
          fileLabel.innerText = file.name
          logoImage.src = e.target.result
        }
        reader.readAsDataURL(file)
      } else {
        fileInput.classList.add('js-invalid')
        fileWrapper.classList.add('invalid')
        form.addEventListener('submit', submitHandler)
      }
    });
  </script>
<% end %>

<div class="edit-establishment">
  <div class="row">
    <div class="col-sm-12">
      <%= form_for [account, establishment], html: { class: 'establishment-form js-establishment-form' } do |f| %>
        <%= render 'shared/panel', title: 'Establishment Info' do %>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :name, class: 'col-form-label' %>
                <div class="">
                  <%= f.text_field :name, class: 'form-control', data: { test: 'establishment-name' } %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :url, class: 'col-form-label' %>
                <div class="">
                  <%= f.text_field :url, class: 'form-control', data: { test: 'establishment-url' } %>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <%= f.label :logo, class: 'col-form-label' %>
                <div class="custom-file js-custom-file">
                  <%= f.file_field :logo, class: 'custom-file-input js-custom-file-input', data: { test: 'establishment-logo' } %>
                  <%= label_tag nil, file_label_text, class: 'custom-file-label js-custom-file-label', data: { test: 'establishment-logo-label' } %>
                  <div class="invalid-feedback">
                    File must be PNG or JPG and no larger than 1MB
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <% if establishment.logo.attached? %>
                <%= image_tag establishment.logo.variant(resize: "300X300"), class: 'img-fluid center js-logo-image', alt: 'Logo' %>
              <% else %>
                <img class="img-fluid center js-logo-image">
              <% end %>
            </div>
          </div>

          <%= f.submit submit_text, class: 'btn btn-evrgn-primary', data: { test: 'establishment-form-submit' } %>
          <%= link_to 'Cancel', account_path(account), class: 'btn btn-outline-secondary', data: { test: 'establishment-form-cancel' } %>
          <% if establishment.persisted? && can?(:destroy, establishment) %>
            <label for="establishment-form-delete" class="btn btn-evrgn-delete" data-test="establishment-form-delete">Delete</label>
          <% end %>
        <% end %>
      <% end %>
      <% if establishment.persisted? && can?(:destroy, establishment) %>
        <%= button_to 'Delete', account_establishment_path(account, establishment), method: :delete, class: 'hidden', id: 'establishment-form-delete', data: { confirm: 'Are you sure you want to delete this establishment?' } %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= render 'shared/panel', title: 'Lists', data_test: 'lists', help_type: 'lists' do %>
        <div
          class="card contextual-help bg-light <%= has_lists ? 'expandable hidden' : '' %>"
          data-help="lists"
          data-test="lists-help-text">
          <div class="card-body">
            Lists are groups of food or drink that you serve at your establishment. For example, you might have lists for Appetizers, Entrees, Beer, Wine, etc. Lists can be grouped together into menus. Any edits you make to your lists are automatically reflected on the menus they are a part of.
          </div>
        </div>
        <div class="list-group">
          <% establishment.lists.order(:name).each do |list| %>
            <div class="list-group-item" data-test="establishment-list-item">
              <div class="valign-wrapper-w80">
                <%= link_to list.name, edit_account_establishment_list_path(account, establishment, list), data: { test: 'establishment-list' } %>
              </div>
              <div class="valign-wrapper-w19">
                <%= list_type_icon(list) %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="button-wrapper">
          <%= add_list_button(account, establishment) %>
        </div>
      <% end %>
    </div>

    <div class="col-sm-6">
      <%= render 'shared/panel', title: 'Menus', data_test: 'menus', help_type: 'menus' do %>
        <div
          class="card contextual-help bg-light <%= hide_menus_help?(establishment) ? 'expandable hidden' : '' %>"
          data-help="menus"
          data-test="menus-help-text">
          <div class="card-body">
            Your lists can be grouped into menus. Embed a menu on your website, design a print menu to place
            at the tables, or turn an HDTV into a high-impact, in-restuarant menu experience.
          </div>
        </div>
        <div class="list-group">
          <% establishment.web_menus.order(:name).each do |web_menu| %>
            <div class="list-group-item" data-test="web-menu-list-item">
              <span class="menu-type-icon fas fa-code" aria-hidden="true" title="Web Menu"></span>
              <%= link_to web_menu.name, edit_account_establishment_web_menu_path(account, establishment, web_menu), data: { test: 'menu-link' } %>
            </div>
          <% end %>
          <% establishment.menus.order(:name).each do |menu| %>
            <div class="list-group-item" data-test="menu-list-item">
              <span class="menu-type-icon far fa-file-pdf" aria-hidden="true" title="Print Menu"></span>
              <%= link_to menu.name, edit_account_establishment_menu_path(account, establishment, menu), data: { test: 'menu-link' } %>
            </div>
          <% end %>
          <% establishment.digital_display_menus.order(:name).each do |dd_menu| %>
            <div class="list-group-item" data-test="digital-display-menu-list-item">
              <span class="menu-type-icon fas fa-tv" aria-hidden="true" title="Digital Display Menu"></span>
              <%= link_to dd_menu.name, edit_account_establishment_digital_display_menu_path(account, establishment, dd_menu), data: { test: 'menu-link' } %>
            </div>
          <% end %>
          <% if online_menu = establishment.online_menu and entitled_to?(:online_menu) %>
            <div class="list-group-item" data-test="online-menu-list-item">
              <span class="menu-type-icon fas fa-globe" aria-hidden="true" title="Online Menu"></span>
              <%= link_to 'Online Menu', edit_account_establishment_online_menu_path(account, establishment, online_menu), data: { test: 'menu-link' } %>
            </div>
          <% end %>
        </div>
        <div class="button-wrapper">
          <%= add_web_menu_button(account, establishment, enabled: has_lists) %>
          <%= add_menu_button(account, establishment, enabled: has_lists) %>
          <%= add_digital_display_menu_button(account, establishment, enabled: has_lists) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
