<script>
  function getBeers() {
    return <%= raw establishment.beers.to_json %>
  }
</script>
<div class="container">
  <%= form_for [account, establishment] do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>

    <div class="form-group">
      <%= f.label :street_address, 'Street Address' %>
      <%= f.text_field :street_address %>
    </div>

    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>

    <div class="form-group">
      <%= f.label :state %>
      <%= f.select :state, options_for_select(state_options, selected: establishment.state), include_blank: true %>
    </div>

    <div class="form-group">
      <%= f.label :postal_code, 'Postal Code' %>
      <%= f.text_field :postal_code, maxlength: 5 %>
    </div>

    <% if f.object.persisted? %>
      <%= f.label :beers, 'Beer List' %>
      <div id="react-app-root"></div>
      <button>Add Beer</button>
    <% end %>

    <div>
      <%= f.submit submit_text %>
      <%= link_to 'Cancel', account_path(account) %>
    </div>
  <% end %>
<div>
