<script>
  window.BEERMAPPER = window.BEERMAPPER || {};
  window.BEERMAPPER.lists = <%= raw lists_json establishment %>;
</script>
<div class="row edit-establishment">
  <div class="establishment-form-left-column col-sm-6">
    <%= form_for [account, establishment], html: { class: 'form-horizontal establishment-form' } do |f| %>
      <%= render 'shared/panel', title: 'Establishment Info' do %>
        <div class="form-group">
          <%= f.label :name, class: 'col-sm-1 control-label' %>
          <div class="col-sm-11">
            <%= f.text_field :name, class: 'form-control', data: { test: 'establishment-name' } %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :url, class: 'col-sm-1 control-label' %>
          <div class="col-sm-11">
            <%= f.text_field :url, class: 'form-control', data: { test: 'establishment-url' } %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :street_address, 'Street', class: 'col-sm-1 control-label' %>
          <div class="col-sm-11">
            <%= f.text_field :street_address, class: 'form-control', data: { test: 'establishment-street-address' } %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :city, class: 'col-sm-1 control-label' %>
          <div class="col-sm-11">
            <%= f.text_field :city, class: 'form-control', data: { test: 'establishment-city' } %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :state, class: 'col-sm-1 control-label' %>
          <div class="col-sm-11">
            <%= f.select :state, options_for_select(state_options, selected: establishment.state), { include_blank: true }, class: 'form-control', data: { test: 'establishment-state' } %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :postal_code, 'Postal Code', class: 'col-sm-1 control-label' %>
          <div class="col-sm-11">
            <%= f.text_field :postal_code, maxlength: 5, class: 'form-control', data: { test: 'establishment-postal-code' } %>
          </div>
        </div>

        <%= f.submit submit_text, class: 'btn btn-primary', data: { test: 'establishment-form-submit' } %>
        <%= link_to 'Cancel', account_path(account), class: 'btn btn-default', data: { test: 'establishment-form-cancel' } %>
        <% if establishment.persisted? && can?(:destroy, establishment) %>
          <label for="establishment-form-delete" class="btn btn-danger" data-test="establishment-form-delete">Delete</label>
        <% end %>
      <% end %>
    <% end %>
    <% if establishment.persisted? && can?(:destroy, establishment) %>
      <%= button_to 'Delete', account_establishment_path(account, establishment), method: :delete, class: 'hidden', id: 'establishment-form-delete', data: { confirm: 'Are you sure you want to delete this establishment?' } %>
    <% end %>
  </div>

  <div class="establishment-form-right-column col-sm-6">
    <%= render 'shared/panel', title: 'Lists', data_test: 'lists' do %>
      <% if establishment.persisted? %>
        <div id="lists-app"></div>
      <% else %>
        <div class="well">Please create your establishment before adding a list</div>
      <% end %>
      <%= add_list_button(account, establishment) %>
    <% end %>

    <%= render 'shared/panel', title: 'Menus', data_test: 'menus' do %>
      <% if establishment.persisted? %>
        <div class="list-group">
          <% establishment.menus.each do |menu| %>
            <div class="list-group-item" data-test="menu-list-item">
              <%= link_to menu.name, edit_account_establishment_menu_path(account, establishment, menu), data: { test: 'establishment-menu' } %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="well">Please create your establishment before adding a menu</div>
      <% end %>
      <%= add_menu_button(account, establishment) %>
    <% end %>

    <%= render 'shared/panel', title: 'Digital Display Menus', data_test: 'digital-display-menus' do %>
      <% if establishment.persisted? %>
        <div class="list-group">
          <% establishment.digital_display_menus.each do |dd_menu| %>
            <div class="list-group-item" data-test="digital-display-menu-list-item">
              <%= link_to dd_menu.name, edit_account_establishment_digital_display_menu_path(account, establishment, dd_menu), data: { test: 'establishment-digital-display-menu' } %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="well">
          Please create your establishment before adding a digital display menu
        </div>
      <% end %>
      <%= add_digital_display_menu_button(account, establishment) %>
    <% end %>
  </div>
</div>
