<ul class="navbar-nav">
  <%= tab name: 'Establishments', path: account_path(account) %>
  <% if can?(:view, User) %>
    <%= tab name: 'Staff', path: account_users_path(account) %>
  <% end %>
</ul>
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <%= link_to edit_user_registration_path, class: 'nav-link', data: { test: 'profile-link' } do %>
      <i class="fa fa-user-o" aria-hidden="true"></i> <%= current_user.first_name %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to 'Logout', destroy_user_session_path, class: 'nav-link', data: { test: 'logout' } %>
  </li>
</ul>
