<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "BeerMapper", root_path, class: "navbar-brand" %>
    </div>
    <div class="">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <%= tab name: 'Establishments', path: account_path(@account) %>
          <% if can?(:view, User) %>
            <%= tab name: 'Staff', path: account_users_path(@account) %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Login', new_user_session_path %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
