<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name='description' content='BeerMapper is a search tool to help you find your favorite craft beer.'>
  <meta name='robots' content='index,follow'>
  <title>Beer Mapper</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <%= stylesheet_link_tag fingerprinted_asset(:application) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </div>
  <%= render('layouts/google_analytics') if Rails.env.production? %>
  <%= javascript_include_tag fingerprinted_asset(:bundle) %>
  <%= content_for :javascripts %>
</body>
</html>
