<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <meta name='description' content='BeerMapper is a search tool to help you find your favorite craft beer.'>
  <meta name='robots' content='index,follow'>
  <title>Beer Mapper</title>
<!--   <%= stylesheet_link_tag    :application %> -->
  <%= csrf_meta_tags %>
</head>
<body>
  <% if alert = flash[:alert] %>
    <div class="alert"><%= alert %></div>
  <% end %>
  <% if notice = flash[:notice] %>
    <div class="notice"><%= notice %></div>
  <% end %>
  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render('layouts/google_analytics') if Rails.env.production? %>
  <%= javascript_include_tag :bundle %>
</body>
</html>
