<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/google_analytics', tracking_id: GoogleAnalytics.tracking_id_for(:facebook_tab) %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='description' content='Evergreen Menus simplifies menu manangement in the restaurant industry.'>
    <title>Evergreen Menus</title>
    <%= render 'layouts/bootstrap_css' %>
    <%= stylesheet_link_tag fingerprinted_asset(:facebookTab), skip_pipeline: true %>
  </head>
  <body>
    <div class="container">
      <%= yield %>

      <%= render 'shared/evergreen_attribution' %>
    </div>
  </body>
</html>
