<% breadcrumb :account, @account %>
<%= render 'shared/panel', title: title, data_test: 'account-form' do %>
  <%= form_for @account do |f| %>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :name, class: 'control-label' %>
        <div>
          <%= f.text_field :name, class: 'form-control', data: { test: 'account-name' } %>
        </div>
      </div>

      <% if @account.google_my_business_enabled? %>
        <div class="form-group">
          <%= f.label :google_my_business_account_id, 'Google My Business Account', class: 'control-label' %>
          <%= f.select :google_my_business_account_id, options_for_select(google_my_business_account_opts(@account), selected: @account.google_my_business_account_id), { include_blank: true }, class: 'form-control', data: { test: 'gmb-account-select' } %>
        </div>
      <% end %>

      <% if can? :activate, @account %>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <%= f.check_box :active, class: 'form-check-input', data: { test: 'account-active' } %>
              Active
            </label>
          </div>
        </div>
      <% end %>

      <div class="button-wrapper">
        <%= f.submit submit_text, class: 'btn btn-evrgn-primary', data: { test: 'account-form-submit' } %>
        <%= link_to 'Cancel', after_sign_in_path_for(current_user), class: 'btn btn-outline-secondary', data: { test: 'account-form-cancel' } %>
        <% if @account.persisted? && can?(:delete, @account) %>
          <label for="account-form-delete" class="btn btn-evrgn-delete" data-test="account-form-delete">Delete</label>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @account.persisted? && can?(:delete, @account) %>
    <%= button_to 'Delete', account_path(@account), method: :delete, class: 'hidden', id: 'account-form-delete', data: { confirm: 'Are you sure you want to delete this account?' } %>
  <% end %>
<% end %>
