<% breadcrumb :account, @account %>
<%= render 'shared/panel', title: 'Establishments' do %>
  <div class="list-group">
    <% if account_establishments(@account).any? %>
      <% account_establishments(@account).each do |establishment| %>
        <%= link_to establishment.name, edit_account_establishment_path(@account, establishment), class: "list-group-item list-group-item-action", data: { test: 'establishment' } %>
      <% end %>
    <% else %>
      <div class="card bg-light">
        <div class="card-body">Add an establishment to get started</div>
      </div>
    <% end %>
  </div>
  <div class="button-wrapper">
    <%= link_to "Add Establishment", new_account_establishment_path(@account), class: 'btn btn-success', data: { test: 'add-establishment' } %>
    <% if can? :edit, @account %>
      <%= link_to 'Edit Account', edit_account_path(@account), class: 'btn btn-primary', data: { test: 'edit-account' } %>
    <% end %>
  </div>
<% end %>

<% if can?(:view_web_integrations, @account)  %>
  <%= render 'shared/panel', title: 'Web Integrations', data_test: 'account-integrations' do %>
    <table class="table web-integrations">
      <thead>
        <tr>
          <th scope="col">Service</th>
          <th scope="col">Enabled</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="menu-type-icon fa fa-2x fa-google" aria-hidden="true" title="Google My Business"></span>
          </td>
          <td>
            <% if @account.google_my_business_enabled? %>
              <span class="menu-type-icon fa fa-2x fa-check web-integration-enabled" aria-hidden="true" title="Connected" data-test="status-google-integration-enabled"></span>
            <% else %>
              <span class="menu-type-icon fa fa-2x fa-times web-integration-disabled" aria-hidden="true" title="Disconnected" data-test="status-google-integration-disabled"></span>
            <% end %>
          </td>
          <td>
            <div class="row">
              <div class="col-sm-1"><%= google_my_business_link @account %></div>
              <% if @account.google_my_business_enabled? %>
                <div class="col-sm-1"><%= disconnect_google_my_business_link %></div>
              <% end %>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <span class="menu-type-icon fa fa-2x fa-facebook" aria-hidden="true" title="Facebook"></span>
          </td>
          <td>
            <% if @account.facebook_enabled? %>
              <span class="menu-type-icon fa fa-2x fa-check web-integration-enabled" aria-hidden="true" title="Connected" data-test="status-facebook-integration-enabled"></span>
            <% else %>
              <span class="menu-type-icon fa fa-2x fa-times web-integration-disabled" aria-hidden="true" title="Disconnected" data-test="status-facebook-integration-disabled"></span>
            <% end %>
          </td>
          <td>
            <div class="row">
              <div class="col-sm-1"><%= facebook_link @account %></div>
              <% if @account.facebook_enabled? %>
                <div class="col-sm-2"><%= disconnect_facebook_link %></div>
                <div><%= link_to 'Custom tab restrictions', facebook_overcoming_custom_tab_restrictions_path, class: 'btn btn-sm btn-outline-secondary' %></div>
              <% end %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>
